@font-face {
    font-family: "Comic Sans";
    src: url(fonts/COMIC.TTF);
}

body {
    font-family: "Comic Sans";
    margin: 0px;
    background-color: rgb(17, 187, 255);
}

header {
    text-align: center;
    background-color: rgb(0, 217, 241);
}

nav ul {
    list-style-type: none;
    background-color: rgb(51, 160, 255);
    overflow: hidden;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
    float: left;
}

nav a:hover {
    background-color: rgb(10, 141, 255);
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

section {
    max-width: 50%;
    min-width: 30%;
    float: left;
}

aside {
    max-width: 30%;
    float: left;
    margin-right: 20px;
}

ul li:hover {
    background-image: url(emojis/tupemoj.png);
}