@font-face {
    font-family: "Inconsolata";
    src: url(fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: rgb(50, 50, 50);
}

a:link {
    color: rgb(50, 50, 50)
}

a:visited {
    color: rgb(50, 50, 50)
}

button {
    text-align: center;
}

button:hover {
    background-color: rgb(76, 222, 91);
    font-size: 1.1em;
}

button:active {
    background-color: black;
    color: rgb(76, 222, 91);
    font-size: 1.1em;
}

header {
    background-color: rgb(76, 222, 91);
    font-family: "Inconsolata";
}

.title {
    text-align: center;
}

main {
    color: rgb(76, 222, 91);
    font-family: "Inconsolata";
}

footer {
    background-color: rgb(76, 222, 91);
    font-family: "Inconsolata";
}